.modal {
    width: 60%;
    max-width: 38rem;
    border: 1px solid #aaa;
    box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    height: 18rem;
    animation: fade-slide-up 0.3s ease-out forwards;
    position: relative;
    padding: 1rem;
}

.modal-actions {

}

.card {
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}

@keyframes fade-slide-up {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0);
    }
}

/*@keyframes fade-slide-up {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0);
    }
}

.modal {
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    width: 80%;
    max-width: 40rem;
    animation: fade-slide-up 0.3s ease-out forwards;
}

// pseudo-element
.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
*/
